.victory{
  color: white;
  align-self: center;
  height: 90px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.victoryContainer{
  display: flex;
  height: 110px;
  padding-top: 5px;
  width: 100%;
}

span{
  font-size: 25px;
}

.options{
  cursor: pointer;
  width: 120px;
  height: 35px;
  background-color: #405060;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border: none;
}

.options:hover{
  color: #236EFF;
}

.optionsContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.opponentReady{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}